html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--mutedgreen);
}

#mysvg {
  z-index: -1;
  position: absolute;
  top: 0;
  fill: none;
  transform: scale(1.01);
}

:root {
  --main-font: "antarctican-mono", sans-serif;
  --blue: #256eb4;
  --green: #93cf43;
  --mutedgreen: #7bad39;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 100px;
}

.left {
  flex: 1 0;
  margin: 25px;
}
.left_text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 4vw;
  color: white;
  margin: 0;
}
.left_textlink {
  color: white;
}
.left_textlink:hover {
  color: red;
}
.left_number {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 50vw;
  color: transparent;
  -webkit-text-stroke-width: 0.2vw;
  -webkit-text-stroke-color: white;
}
.left_chapter {
  color: white;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 4vw;
  margin: 0;
  text-decoration: underline;
}
.left_toc {
  font-family: var(--main-font);
  color: white;
  font-weight: 700;
  font-size: 1.2vw;
  text-decoration: none;
}
.left_toc:hover {
  text-decoration: underline;
}

.right {
  flex: 1 0;
  margin: 25px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 4vw;
  color: white;
}
.right_link {
  color: white;
  text-decoration: underline;
}
.right_link:hover {
  color: var(--blue);
}
.right_linkblue, .right_linkgreen {
  font-size: 3vw;
  color: white;
  font-family: var(--main-font);
  font-weight: 700;
  text-decoration: none;
}
.right_linkblue:hover {
  color: var(--blue);
  text-decoration: underline;
}
.right_linkgreen:hover {
  color: var(--green);
  text-decoration: underline;
}
.right_linkwhite {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 3.5vw;
  color: white;
  text-decoration: none;
}
.right_linkwhite:hover {
  text-decoration: underline;
}
.right_chapter {
  margin: 0;
  font-size: 17px;
  color: white;
  font-weight: 400;
  padding-right: 25px;
}

#svg_part1, #svg_part2 {
  display: inline-block;
  fill: none;
  height: 500px;
}

#svg {
  text-align: center;
}

.flex-map {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}
.flex-map_img {
  margin: auto;
  position: relative;
  width: 100vw;
}

.flexbox-header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  padding: 25px;
  z-index: 1;
}
.flexbox-header_1, .flexbox-header_2, .flexbox-header_3, .flexbox-header_4, .flexbox-header_5 {
  margin: 5px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.flexbox-header_1 {
  flex: 5 0 120px;
}
.flexbox-header_2, .flexbox-header_3, .flexbox-header_4, .flexbox-header_5 {
  flex: 1 0;
  text-align: center;
}
.flexbox-header_link {
  text-decoration: none;
  color: white;
}
.flexbox-header_link:hover {
  text-decoration: underline;
  color: white;
}

ol {
  margin: 0;
  padding: 0;
  list-style: decimal inside none;
}

/*# sourceMappingURL=style.css.map */
