html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
    
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--mutedgreen);
}

#mysvg {
    z-index: -1;
    position: absolute;
    top: 0;
    fill: none;
    transform: scale(1.01);
}