.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 100px;
}

.left {
    flex: 1 0;
    margin: 25px;

    &_text {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 4vw;
        color: white;
        margin: 0;
    }

    &_textlink {
        color: white;
    }

    &_textlink:hover {
        color: red;
    }

    &_chapter {
        color: white;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 4vw;
        margin: 0;
        text-decoration: underline;
    }

    &_toc {
        font-family: var(--main-font);
        color: white;
        font-weight: 700;
        font-size: 1.2vw;
        text-decoration: none;
    }

    &_toc:hover {
        text-decoration: underline;
    }
}

.right {
    flex: 1 0;
    margin: 25px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 4vw;
    color: white;

    &_link {
        color: white;
        text-decoration: underline;
    }

    &_link:hover {
        color: var(--blue);
    }
    &_linkblue, &_linkgreen {
        font-size: 3vw;
        color: white;
        font-family: var(--main-font);
        font-weight: 700;
        text-decoration: underline;
    }

    &_linkblue:hover {
        color: var(--blue);
    }

    &_linkgreen:hover {
        color: var(--green);
    }

    &_linkwhite {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 3.5vw;
        color: white;
        text-decoration: none;
    }

    &_linkwhite:hover {
        text-decoration: underline;
    }

    &_chapter {
        margin: 0;
        font-size: 17px;
        color: white;
        font-weight: 400;
        padding-right: 25px;
    }
}
